go 1.25.0

use (
	./webcore
	// ./libraries/db/mongo
	// ./libraries/db/mysql
	./libraries/db/postgres
	./libraries/pubsub
	./libraries/redis
	./libraries/db/sql
	// ./libraries/sqlite
	./libraries/kafka
	./modules/modulea
	./modules/tb
)
